[init]
  defaultBranch = master
  templatedir = "~/dotfiles/git-config/.config/git/templates"

# Core variables
[core]
  autocrlf = input
  quotepath = false  # 路径中文字符
  # sshCommand = ssh -vvv
  # hooksPath = "~/.config/git/templates/hooks"

[program]
  pgp = gpg

[diff "sopsdiffer"]
  textconv = "sops -d"

[help]
    autocorrect = 1
[gui]
    encoding = utf-8
[i18n "commit"]
    encoding = utf-8
[i18n]
    logoutputencoding = utf-8
