[init]
  defaultBranch = master
  templatedir = "~/dotfiles/git-config/.config/git/templates"

# Core variables
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
  autocrlf = input
  quotepath = false  # 路径中文字符
  # sshCommand = ssh -vvv
  # hooksPath = "~/.config/git/templates/hooks"

[program]
  pgp = gpg

[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

# [diff-so-fancy]
#     markEmptyLines = false
#     changeHunkIndicators = false
#     stripLeadingSymbols = false
#     useUnicodeRuler = false
#     rulerWidth = 47

[diff "sopsdiffer"]
  textconv = "sops -d"

[help]
    autocorrect = 1
[gui]
    encoding = utf-8
[i18n "commit"]
    encoding = utf-8
[i18n]
    logoutputencoding = utf-8
