[user]
# Please adapt and uncomment the following lines:
  name = issenn
  email = 28648060+issenn@users.noreply.github.com
  signingkey = 4430F73FD644E9673785A4D223299041A27FFAC3!

[commit]
  gpgsign = true

[tag]
  forcesignannotated = true

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[http "https://github.com/"]
  proxy = "socks5h://127.0.0.1:7890"  # 基于http的git与基于socks5的代理
  # proxy = "http://127.0.0.1:7890"   # 基于http的git与基于http的代理
  postBuffer = 524288000              # 智能HTTP传输所使用的缓冲区
  # extraheader = Authorization: basic <Base64 encoded key from GitHub>  # Should ideally reference this from an environmental variable
# [credential "https://github.com/"]
  # username = <GitHub username>
