Host {{ .host }}
    HostName {{ .hostName }}
    User {{ .user }}
    Port {{ .port }}
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes
    # LogLevel DEBUG3
    # ProxyCommand /usr/bin/nc -X 5 -x 127.0.0.1:7891 %h %p
    # Proxycommand /usr/local/bin/ncat --proxy 127.0.0.1:7891 --proxy-type socks5 %h %p
