[alias]
  # sa = stash apply
  # sh = show
  # ss = stash save

  rv = remote -v

  cgl = config --global -l

  st = status
  # st = status -sb

  b = branch
  # br = branch

  d = diff
  # df = diff
  # ds = diff --staged
  # d = diff --color-words
  # dw = diff --word-diff
  # dv = difftool -t vimdiff -y

  co = checkout
  # co = checkout -b
  cp = cherry-pick

  cm = commit
  cmsg = commit -m
  # ci = commit -v
  # cia = commit -v -a
  # ca = commit -a -m
  # amend = commit --amend
  # amendf = commit --amend --no-edit

  p = push
  pom = push origin master

  # pullit = pull --rebase

  # ads = submodule add
  # rem = remote add origin
  # headless = !sh -c 'git symbolic-ref HEAD refs/heads/$0 && rm .git/index && git clean -fdx'
  # unstash = stash branch

  l = log
  ll = log -p
  # lod = log --oneline --decorate
  # lp = log --pretty=oneline
  # lg = log --graph --all --format=format:‘%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)‘ --abbrev-commit --date=relative
  # lgraph = log --oneline --decorate --graph

  last = log -1 HEAD --stat --show-signature

  se = !git rev-list --all | xargs git grep -F

  cleantemplatedir = !find "${GIT_DIR:-"$(git rev-parse --absolute-git-dir)"}"/{hooks,lib} \
                        -type f ! -name "*.sample" \
                        -exec echo "remove file: {}" "';'" \
                        -exec rm -rf "{}" "';'"

  ct = cleantemplatedir
