# https://github.com/so-fancy/diff-so-fancy/blob/master/pro-tips.md
[core]
  pager = "diff-so-fancy | less --tabs=4 -RFX"

[pager]
  dsf = "diff-so-fancy | less --tabs=4 -RFXS"
  diff = "diff-so-fancy | less --tabs=1,5 -RFXS --pattern '^(Date|added|deleted|modified): '"
  show = "diff-so-fancy | less --tabs=1,5 -RFX"

[alias]
  dsf = "diff --color"
  patch = !git --no-pager diff --no-color

[interactive]
  diffFilter = "diff-so-fancy --patch"

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[color "diff"]
  meta = "11"
  frag = "magenta bold"
  func = "146 bold"
  commit = "yellow bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"

# [diff-so-fancy]
  # markEmptyLines = false
  # changeHunkIndicators = false
  # stripLeadingSymbols = false
  # useUnicodeRuler = false
  # rulerWidth = 47
